.days {
  max-width: 1200px;
  margin: 0 auto;
}

.Day {
  text-align: left;
  padding: 10px;
  width: calc(100%/7);
  height: 100px;
  display: inline-block;
  outline: 1px solid #ccc;
  background: #fff;
}

.Day.Day--inactive {
  vertical-align: bottom;
  background: #ddd;
}

.Day .day-of-week {
  font-size: 12px;
}