.day {
  text-align: left;
  padding: 10px;
  width: calc(100%/7);
  height: 100px;
  display: inline-block;
  outline: 1px solid black;
  background: #fff;
}

.day.day--inactive {
  vertical-align: bottom;
  background: #ddd;
}

.day .day-of-week {
  font-size: 12px;
}